 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  border: 0;
  border-style: solid;
  border-radius: 2px;
  background-color: #1563ff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 13px 24px;
  font-weight: 600;
  text-align: center;
  position: relative;
  transition: all 0.25s ease;
  align-self: center;
  box-sizing: border-box;
  appearance: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    transition: all 0.25s ease;
  }

  &:hover {
    transform: translateY(-1px);
    text-decoration: none;
    &::after {
      opacity: 1;
    }
  }

  &[disabled] {
    cursor: default;

    &:hover {
      transform: unset;
    }
  }
}
